# API Configuration
# Set this to your local backend URL for development
#NEXT_PUBLIC_API_URL=http://localhost:8000

# For production, set this to your production backend URL
 NEXT_PUBLIC_API_URL=https://aibackend-production-5e6b.up.railway.app